@charset "utf-8";
/* CSS Document */
	
		
		/*背景图片*/
		body{background-image:url("../201918340316-lixiaoxu-1501/img/1.jpg");background-size:100%;background-repeat:no-repeat;background-attachment:fixed;background-position:center;}
		
		/*月经贫困*/
		.article{font-size:80px;text-align: center;color:#F5F5F5;margin-top: 110px;letter-spacing: 10px;font-weight:600;margin-bottom: 80px}
        
		/*框*/
		.border{margin-left:310px;line-height: 120px;text-align: center;box-shadow: black 10px 10px 30px 10px;margin-right: 280px;margin-bottom: 120px;background-color: rgba(0,0,0,0.3)}
        
		/*用户名*/
		input[type=text] {
                          box-sizing: border-box;
                          border: 2px solid #ccc;
                          border-radius: 4px;
                          font-size: 16px;
                          background-color:#F3F3F3;
                          background-position: 10px 10px; 
                          background-repeat: no-repeat;
                          padding: 12px 20px 12px 20px;
			              margin-top: 20px;
			              width:400px;
                         }
		
		/*密码*/
		input[type=password] {
                          box-sizing: border-box;
                          border: 2px solid #ccc;
                          border-radius: 4px;
                          font-size: 16px;
                          background-color:#F3F3F3;
                          background-position: 10px 10px; 
                          background-repeat: no-repeat;
                          padding: 12px 20px 12px 20px;
			              margin-top: 20px;
			              width:400px;
                         }
		
		/*提交*/
		input[type=submit] {
                          background-color:#644040;
                          border: none;
                          color: white;
                          padding: 16px 32px;
                          text-decoration: none;
                          margin: 4px 2px;
                          cursor: pointer;
			              width:400px;
			              margin-top: 20px;
			              font-size:18px
                         }
		
		/*找回注册*/

		a{color:#DFDFDF;background-color:#88595A;text-decoration: none;border:15px solid #88595A}
		
		/*忘记密码*/
		.click{color:#DFDFDF;line-height: 3;margin-bottom: 20px;margin-right: 200px;font-size: 16px;;margin-top: 30px}
		
		/*注册账户*/
		.blank{color:#DFDFDFx;margin-top:-105px;width:250px; margin-bottom: 20px;font-size: 16px;margin-left: 430px;}
		
		/*登录*/
		.sign{font-size:50px;text-align: center;color:#F5F5F5;letter-spacing:8px;font-weight:600;margin-bottom: 7px}
		
