@charset "utf-8";
/* CSS Document */
		/*导航栏*/
			ul {list-style-type:none;
				margin:-5px;
  				padding: 3px;
  				overflow: hidden;
				background:rgba(0,0,0,0.43);}
			/*浮动方式*/
			.left{float:left;
			}
			.right{float:right}
			li {float: left;}
			/*导航栏方块*/
			li a {display:block;
				  font-family:"思源黑体 CN Heavy";
				  font-size:18px;
  				  color:#A2A2A2;
  				  padding: 8px 20px;
				  text-align: center;
  				  text-decoration: none;
			}
			/*当前停留导航栏字体颜色*/
			li a:hover:not(.active) {color:#F6F6F6}
						   .active {color:#F6F6F6}
			.l-container{float: left;
						padding-left: 25%;
						}
			.r-container{float: right;
						padding-right: 25%;}
			/*性别选择文字样式*/
			p{
			padding-bottom: 8%;
			text-align: center;
			padding-top: 10%;
			font-size:20px;
			color: #222222;
			}
			.l-container-bottom{padding-left: 15%}
			.r-container-bottom{padding-left: 15%}
			body{background:#937B7F;
				background:url("../201918340317-liying-1501/img/1111.jpg");
				background-size:100% }
			/*页脚*/
			.footercopy{
				color:white;
				font-family:"Adobe 宋体 Std L";
				font-size:12px;
				margin-left: 0 auto;
				clear: both;
				padding-top: 120px;
			}
		