@charset "utf-8";
/* CSS Document */

	
		/*背景图片*/
		body{background-image:url("../201918340316-lixiaoxu-1401/img/1.jpg");background-size:100%;background-repeat:no-repeat;background-attachment:fixed;background-position:center;}
	    
		/*框*/
		.border{margin-left:600px;line-height: 120px;text-align: center;box-shadow: black 10px 10px 30px 10px;margin-right: 100px;margin-top: -820px;margin-bottom: 100px;background-color:  rgba(0,0,0,0.3);background:#644040;width: 680px;height: 630px }
		
		/*用户名*/
		input[type=text] {
                          box-sizing: border-box;
                          border: 2px solid #ccc;
                          border-radius: 4px;
                          font-size: 16px;
                          background-color:#F3F3F3;
                          background-position: 10px 10px; 
                          background-repeat: no-repeat;
                          padding: 12px 20px 12px 20px;
			              margin-top: -80px;
			              width:400px;
                         }
		
		/*密码*/
		input[type=password] {
                          box-sizing: border-box;
                          border: 2px solid #ccc;
                          border-radius: 4px;
                          font-size: 16px;
                          background-color:#F3F3F3;
                          background-position: 10px 10px; 
                          background-repeat: no-repeat;
                          padding: 12px 20px 12px 20px;
			              margin-top: -50px;
			              width:400px;
                         }
		
		/*提交*/
		input[type=submit] {
                          background-color:#88595A;
                          border: none;
                          color: white;
                          padding: 16px 32px;
                          text-decoration: none;
                          margin: 4px 2px;
                          cursor: pointer;
			              width:400px;
			              margin-top: 20px;
			              font-size:18px;
			              margin-bottom: 150px
                         }
		     
		/*用户注册*/
		.sign{font-size:50px;text-align: center;color:#F5F5F5;letter-spacing:8px;font-weight:600;margin-bottom:-20px}
		
		/*提示*/
		.introduce{color:#F5F5F5;font-weight: 200;margin-top: -90px;margin-bottom: -50px;text-align: center}
		
		/*图片*/
		.picture{line-height: 120px;margin-right: 195px;margin-top: 140px;margin-bottom: 137px;background-color:  rgba(0,0,0,0.3)}
		
		/*整体*/
		.include{margin-left: 100px;margin-right: 100px;margin-top: 100px}
		